<div class="card p-5 bg-light rounded-3">
    <div class="card-body">
        <h1 class="display-4">About</h1>
        <hr class="my-4">
        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse totam nulla laudantium perspiciatis non fugit omnis? Cumque obcaecati quos iste hic sunt quaerat esse error corporis doloribus fugit. Quos, quisquam.</p>
    </div>
</div>