<div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-4">Notes App NodeJS and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde commodi exercitationem est quod velit dolorem porro aut officiis nisi ipsam obcaecati nesciunt fugit id molestias nihil temporibus, sequi quisquam corporis.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates repellendus, numquam ipsam molestiae accusamus culpa nam maiores atque, magnam quis magni? Minima inventore dolorum cupiditate rerum est labore officia harum!</p>
    <a href="" class="btn btn-info btn-lg">Git Hub</a>
</div>